$main-text-color-1: #231f20;

$column-count: 12;

$main-grey-1: #a5945e;
$main-orange-1: #e9743f;
$main-light-grey-1: #D8D8CF;
$main-green-1: #668B8B;

$main-font-family-1: 'PT sans', sans-serif;
$main-font-family-2: 'Montserrat', sans-serif;
$main-font-family-3: 'Domine', serif;